.meals-cards {
  .meal {
    @include flexBox(space-between, center);
    background-color: lightgray;
    padding: 16px;
    border-radius: 8px;
    .meal-info {
      img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
      }
      p {
        font-size: 18px;
      }
      span {
        font-size: 13px;
      }
    }
    .actions {
      width: 30px;
      height: 30px;
      position: relative;
      // background-color: rgba(255, 255, 255, 0.6);
      transition: 0.5s;
      border-radius: 50%;

      &:hover {
        background-color: rgba(0, 0, 0, 0.5);
      }
      &::after,
      &::before,
      span {
        content: "";
        position: absolute;
        background-color: white;
        width: 5px;
        height: 5px;
        border-radius: 50%;
      }
      &::after {
        bottom: 3px;
      }
      &::before {
        top: 3px;
      }
    }
    .button-group {
      position: absolute;
      background-color: $main;
      width: 120px;
      top: 50px;
      z-index: 1;
      border-radius: 8px;
      padding: 10px;
      button {
        color: white;
        padding: 10px;
        width: 100%;
        transition: 0.5s;
        &:hover {
          background-color: white;
          color: $main;
          border-radius: 8px;
        }
      }
    }
  }
}
