.look {
  border-radius: 8px;
  border: 1px solid $main;
  background-color: white;
  color: $main;
  transition: 0.5s;
  padding: 4px;
  &:hover {
    border: 1px solid white;
    background-color: $main;
    color: white;
  }
  &:disabled {
    border: 1px solid lightgray;
    color: lightgray;
  }
}
.modal {
  &-content {
    width: 90vw;
  }
  .order-table-and-waiter {
    display: flex;
    .form-group {
      width: 50%;
      padding: 12px 0;
      @include flexBox(flex-start, flex-start);
      flex-direction: column;
      &:first-child {
        margin-right: 12px;
      }
      &:last-child {
        margin-left: 12px;
      }
      #masa,
      #waiter {
        width: 100%;
      }
    }
  }
  table {
    margin-top: 50px;
    thead {
      tr {
        th {
          text-align: left;
        }
      }
    }
    tbody {
      tr {
        td {
          text-align: left;
          .info {
            @include flexBox(flex-start, center);
            img {
              width: 30px;
              height: 30px;
              object-fit: cover;
              border-radius: 50%;
              margin-right: 10px;
            }
          }
          .increase-decrease {
            button {
              width: 20px;
              height: 20px;
              border-radius: 50%;
              border: 1px solid $main;
              background-color: white;
              color: $main;
              padding: 10px;
              margin: 0 10px;
              transition: 0.5s;
              &:hover {
                background-color: $main !important;
                color: white;
              }
              &:disabled {
                border: 1px solid lightgray;
                color: lightgray;
                background-color: white;
              }
            }
          }
        }
      }
    }
  }
  .button-group-total {
    @include flexBox(space-between, normal);
    margin-top: 20px;
  }
  .total {
    display: flex;
    align-items: center;
    p {
      margin-right: 10px;
    }
  }
  .button-group {
    margin-top: 10px;
    @include flexBox(flex-end, normal);
    .cancel,
    .submit {
      padding: 8px;
      border-radius: 8px;
      transition: 0.5s;
      margin-left: 10px;
      &:disabled {
        border: 1px solid lightgray;
        color: lightgray;
        background-color: white;
      }
    }
    .cancel {
      border: 1px solid $main;
      background-color: white;
      color: $main;
      &:hover {
        border: 1px solid white;
        background-color: $main;
        color: white;
      }
    }
    .submit {
      background-color: $main;
      border: 1px solid white;
      color: white;
      &:hover {
        color: $main;
        border: 1px solid $main;
        background-color: white;
      }
    }
  }
}
